# Python
__pycache__/
*.py[cod]
*$py.class
*.so
venv/
env/
.venv/

# Django
db.sqlite3
staticfiles/
media/pdf/*.pdf

# Environment
.env

# IDE
.vscode/
.idea/
*.swp
*.swo

# OS
.DS_Store
Thumbs.db

# cPanel
tmp/

# Railway / Deploy
staticfiles/

# Local artifacts
server.log
server.err
page.html
